@model ParkingSystem.Models.Officer

@{
    ViewData["Title"] = "Hapus Petugas";
}

<div class="container mt-4">

    <div class="card shadow border-danger">

        <div class="card-header bg-danger text-white">
            <h3>Hapus Petugas</h3>
        </div>

        <div class="card-body">

            <h5>Apakah Anda yakin ingin menghapus data ini?</h5>

            <hr />

            <dl class="row">

                <dt class="col-sm-3">
                    Nama
                </dt>

                <dd class="col-sm-9">
                    @Model.Name
                </dd>

                <dt class="col-sm-3">
                    No. HP
                </dt>

                <dd class="col-sm-9">
                    @Model.Phone
                </dd>

            </dl>

            <form asp-action="Delete" method="post">

                <input asp-for="Id" type="hidden" />

                <button type="submit"
                        class="btn btn-danger">

                    Hapus

                </button>

                <a asp-action="Index"
                   class="btn btn-secondary">

                    Batal

                </a>

            </form>

        </div>

    </div>

</div>