@model ParkingSystem.Models.Vehicle

<div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

<div class="mb-3">
    <label asp-for="PlateNumber" class="form-label"></label>
    <input asp-for="PlateNumber" class="form-control" />
    <span asp-validation-for="PlateNumber" class="text-danger"></span>
</div>

<div class="mb-3">
    <label asp-for="OwnerName" class="form-label"></label>
    <input asp-for="OwnerName" class="form-control" />
    <span asp-validation-for="OwnerName" class="text-danger"></span>
</div>

<div class="mb-3">
    <label asp-for="VehicleType" class="form-label"></label>

    <select asp-for="VehicleType" class="form-select">

        <option value="">-- Pilih Jenis Kendaraan --</option>

        <option value="Mobil">Mobil</option>

        <option value="Motor">Motor</option>

    </select>

    <span asp-validation-for="VehicleType" class="text-danger"></span>

</div>

<div class="mb-3">

    <label asp-for="Color" class="form-label"></label>

    <input asp-for="Color" class="form-control" />

    <span asp-validation-for="Color" class="text-danger"></span>

</div>
