<div class="collapse d-lg-block bg-white border-end shadow-sm"
     id="sidebarMenu"
     style="min-height:100vh;">

    <div class="list-group rounded-0">

        <a asp-controller="Dashboard"
           asp-action="Index"
           class="list-group-item list-group-item-action">

            🏠 Dashboard

        </a>

        <a asp-controller="Vehicle"
           asp-action="Index"
           class="list-group-item list-group-item-action">

            🚗 Kendaraan

        </a>

        <a asp-controller="Officer"
           asp-action="Index"
           class="list-group-item list-group-item-action">

            👮 Petugas

        </a>

        <a asp-controller="Parking"
           asp-action="Index"
           class="list-group-item list-group-item-action">

            🅿️ Parkir

        </a>

        <a asp-controller="Report"
           asp-action="Index"
           class="list-group-item list-group-item-action">

            📊 Laporan

        </a>

    </div>

</div>